@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-gap($gap: 0, $direction: column) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button-styles($type: primary) {
  @include text-preset-5;
  font-weight: 600;
  border-radius: 100vw;
  padding: 12px 20px;
  transition: background all 0.2s ease;

  @if ($type == primary) {
    background: var(--orange-400);
    color: var(--neutral-900);

    &:hover {
      background: var(--orange-500);
    }

    &:focus {
      outline: 2px solid var(--orange-500);
      outline-offset: 2px;
    }
  }

  @if ($type == secondary) {
    background: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    color: var(--neutral-000);

    &:disabled {
      color: var(--neutral-400);
    }

    &:hover {
      background: var(--neutral-700);
    }

    &:focus {
      outline: 2px solid var(--orange-500);
      outline-offset: 2px;
    }
  }
}

@mixin box-styles($type: primary, $padding: 20px) {
  padding: $padding;
  border-radius: 16px;

  @if ($type == primary) {
    background: var(--orange-gradient);
    border: 1px solid rgb(255 255 255 / 0.3);
  }

  @if ($type == secondary) {
    background: var(--neutral-800);
    border: 1px solid var(--neutral-600);
  }
}

@mixin text-preset-1 {
  font-family: "bricolageGrotesque", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2px;
}

@mixin text-preset-2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

@mixin text-preset-4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.3px;
}

@mixin text-preset-5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.3px;
}

@mixin text-preset-6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
}
